body {
  background: #05080d;
  color: #00ffcc;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: #0d141c;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 350px;
  text-align: center;
  box-shadow: 0 0 20px #00ffcc40;
}

button {
  padding: 10px;
  width: 100%;
  background: #00ffcc;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
